<h2>Log in</h2>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email %><br />
  <%= f.email_field :email %><br />

  <%= f.label :password %><br />
  <%= f.password_field :password %><br />

  <p><%= f.submit "ログイン",class: 'btn btn-primary' %></p>
<% end %>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.hidden_field :email, value: "test@tbc.com" %>
  <%= f.hidden_field :password, value: "testtest" %>
  <%= f.submit 'テストユーザでログイン',class: 'btn btn-default' %>
<% end %>
