<h2>パスワードの変更</h2>

<% if @user.errors.any? %>
  <div>
    <% @user.errors.full_messages.each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
<%= @error_hint if @error_hint.present? %>

<%= form_with(model:@user,local: true,url: edit_pass_user_path) do |f| %>

<p>現在のパスワード</p>
<%= f.password_field :old_password %>

<p>パスワード</p>
<%= f.password_field :password %>
<p>確認用パスワード</p>
<%= f.password_field :password_confirmation %>

<p><%= f.submit "更新する",class: 'btn btn-primary' %></p>
<%= f.hidden_field :email %>
<% end %>
