<h2>編集する</h2>
<div>
  <%= image_tag @user.image.url if @user.image.url %>
</div>
<br>

<%= form_with(model: @user,local: true) do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />

  <%= f.label :email %><br />
  <%= f.email_field :email %><br />

  <%= f.label :image %><br />
  <%= f.file_field :image %><br />

  <%= f.submit "更新する",class: 'btn btn-primary' %>
<% end %>

<% if @user.image.url %>
  <%= form_with(model: @user,local: true,url: profile_file_user_path) do |f| %>
    <%= f.submit "プロフィール画像を削除する",class: 'btn btn-default' %>
  <% end %>
<% end %>

<%= link_to 'パスワードの更新はこちら',edit_password_user_path(@user),class: 'btn btn-link' %>
