<%= form_with(model: post, local: true,url: choose_new_or_edit) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <div>
      <%= form.text_area :content %>
    </div>
    <div>
      <%= image_tag @post.image.url if @post.image && @post.image.url %>
    </div>
    <div>
      <%= form.file_field :image %>
    </div>
    <%= form.submit %>
  </div>
  <%= form.hidden_field :image_cache %>
<% end %>

<% if action_name == 'edit' %>
  <%= form_with(model: @post,local: true,url: post_file_post_path) do |f| %>
    <%= f.submit "画像を削除する" %>
  <% end %>
<% end %>
