<%= form_with(model: post, local: true,url: choose_new_or_edit) do |form| %>
  <% if post.errors.any? %>
    <div>
      <% post.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>


  <div class="actions">
    <div>
      <%= form.text_area :content %>
    </div>
    <div>
      <%= image_tag @post.image.url if @post.image && @post.image.url %>
    </div>
    <div>
      <%= form.file_field :image %>
    </div>
    <%= form.submit "送信する",class: 'btn btn-primary'%>
  </div>
  <%= form.hidden_field :image_cache %>
<% end %>

<% if action_name == 'edit' && @post.image.url %>
  <%= form_with(model: @post,local: true,url: post_file_post_path) do |f| %>
    <%= f.submit "画像を削除する",class: 'btn btn-default' %>
  <% end %>
<% end %>
