<h2>詳細表示</h2>
<%= image_tag @post.image.url if @post.image.url %>
<%= @post.content %>
<%= @post.user.name %>
<div>
  <% if current_user.id == @post.user.id %>
    <%= link_to '編集する', edit_post_path(@post.id) %>
    <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to '投稿一覧にもどる', posts_path %>
</div>
