<!DOCTYPE html>
<html>
  <head>
    <title>InstagramCloneApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= current_user.name %>
      <%= link_to "profile",user_path(current_user.id) %>
      <%= link_to "投稿一覧",posts_path %>
      <%= link_to "ログアウト",session_path(current_user.id),method: :delete %>
    <% else %>
      <%= link_to "sign up",new_user_path %>
      <%= link_to "login",new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
